<%- include('partials/header') %>

<main>
  <h1>
    <%= title %>
  </h1>
    <p>Upcoming Service Projects</p>
    <ul>
      <% projects.forEach(project=> { %>
        <li>
          <!-- Project title links to project details -->
          <a href="/project/<%= project.project_id %>">
            <strong>
              <%= project.title %>
            </strong>
          </a>
    
          <!-- Organization name links to organization details -->
          (<a href="/organization/<%= project.organization_id %>">
            <%= project.organization_name %>
          </a>)
    
          <%= project.project_description %>
            in <%= project.location %>
              on <strong>
                <%= project.date.toDateString() %>
              </strong>
        </li>
        <% }) %>
    </ul>
    </main>
  
<%- include('partials/footer') %>
